<!DOCTYPE html>
<html>
<head>
    @Html.DevExpress().GetStyleSheets(
            new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new StyleSheet { ExtensionSuite = ExtensionSuite.CardView },
            new StyleSheet { ExtensionSuite = ExtensionSuite.PivotGrid },
            new StyleSheet { ExtensionSuite = ExtensionSuite.SpellChecker },
            new StyleSheet { ExtensionSuite = ExtensionSuite.HtmlEditor },
            new StyleSheet { ExtensionSuite = ExtensionSuite.RichEdit },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
            new StyleSheet { ExtensionSuite = ExtensionSuite.VerticalGrid },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Spreadsheet },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Scheduler },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Chart },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Report },
            new StyleSheet { ExtensionSuite = ExtensionSuite.GridView },
            new StyleSheet { ExtensionSuite = ExtensionSuite.TreeList },
            new StyleSheet { ExtensionSuite = ExtensionSuite.Dashboard }
        )
    @Html.DevExpress().GetScripts(
            new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
            new Script { ExtensionSuite = ExtensionSuite.CardView },
            new Script { ExtensionSuite = ExtensionSuite.PivotGrid },
            new Script { ExtensionSuite = ExtensionSuite.SpellChecker },
            new Script { ExtensionSuite = ExtensionSuite.HtmlEditor },
            new Script { ExtensionSuite = ExtensionSuite.RichEdit },
            new Script { ExtensionSuite = ExtensionSuite.Editors },
            new Script { ExtensionSuite = ExtensionSuite.VerticalGrid },
            new Script { ExtensionSuite = ExtensionSuite.Spreadsheet },
            new Script { ExtensionSuite = ExtensionSuite.Scheduler },
            new Script { ExtensionSuite = ExtensionSuite.Chart },
            new Script { ExtensionSuite = ExtensionSuite.Report },
            new Script { ExtensionSuite = ExtensionSuite.GridView },
            new Script { ExtensionSuite = ExtensionSuite.TreeList },
            new Script { ExtensionSuite = ExtensionSuite.Dashboard }
        )

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>SAP Business One</title>
    @* @Styles.Render("~/Content/css")*@
    <!-- Google Font -->
    <link href="~/Scripts/adminlte/components/jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/adminlte/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/adminlte/css/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/components/morris.js/morris.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/plugins/bootstrap-slider/slider.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/components/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/components/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/plugins/timepicker/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/plugins/iCheck/all.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/plugins/pace/pace.min.css" rel="stylesheet" />
    <link href="~/Scripts/adminlte/components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    @Html.Partial("_Header")
    @Html.Partial("_Sidebar")
    @RenderBody()
    @Html.Partial("_Footer")
    @Html.Partial("_Aside")
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>


  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/lib")
  @RenderSection("scripts", required: false)
  @*<script src="~/Scripts/adminlte/components/jquery/dist/jquery.min.js"></script>

  <script src="~/Scripts/adminlte/components/jquery-ui/jquery-ui.min.js"></script>
  <script src="~/Scripts/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
  <script src="~/Scripts/adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="~/Scripts/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/Scripts/adminlte/components/raphael/raphael.min.js"></script>
  <script src="~/Scripts/adminlte/components/morris.js/morris.min.js"></script>
  <script src="~/Scripts/adminlte/components/chart.js/Chart.min.js"></script>
  <script src="~/Scripts/adminlte/components/Flot/jquery.flot.js"></script>
  <script src="~/Scripts/adminlte/components/Flot/jquery.flot.resize.js"></script>
  <script src="~/Scripts/adminlte/components/Flot/jquery.flot.pie.js"></script>
  <script src="~/Scripts/adminlte/components/Flot/jquery.flot.categories.js"></script>
  <script src="~/Scripts/adminlte/components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
  <script src="~/Scripts/adminlte/components/jquery-knob/dist/jquery.knob.min.js"></script>
  <script src="~/Scripts/adminlte/components/moment/moment.js"></script>
  <script src="~/Scripts/adminlte/components/PACE/pace.min.js"></script>
  <script src="~/Scripts/adminlte/components/ckeditor/ckeditor.js"></script>
  <script src="~/Scripts/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="~/Scripts/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="~/Scripts/adminlte/components/bootstrap-daterangepicker/daterangepicker.js"></script>
  <script src="~/Scripts/adminlte/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <script src="~/Scripts/adminlte/components/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
  <script src="~/Scripts/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
  <script src="~/Scripts/adminlte/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="~/Scripts/adminlte/components/fastclick/lib/fastclick.js"></script>
  <script src="~/Scripts/adminlte/js/adminlte.min.js"></script>
  <script src="~/Scripts/adminlte/js/demo.js"></script>
  <script src="~/Scripts/adminlte/plugins/bootstrap-slider/bootstrap-slider.js"></script>
  <script src="~/Scripts/adminlte/components/select2/dist/js/select2.full.min.js"></script>
  <script src="~/Scripts/adminlte/plugins/input-mask/jquery.inputmask.js"></script>
  <script src="~/Scripts/adminlte/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
  <script src="~/Scripts/adminlte/plugins/input-mask/jquery.inputmask.extensions.js"></script>
  <script src="~/Scripts/adminlte/plugins/timepicker/bootstrap-timepicker.min.js"></script>
  <script src="~/Scripts/adminlte/plugins/iCheck/icheck.min.js"></script>
  <script src="~/Scripts/adminlte/components/fullcalendar/dist/fullcalendar.min.js"></script>*@
  <script src="~/Scripts/adminlte/js/pages/dashboard.js"></script>
</body>
</html>
